.aboutHome {
    margin-bottom: 25px;
}

.ha-title {
    text-align: center;
}

.ha-i-img {
    padding-bottom: 15px;
}

.ha-items {
    display: flex;
}

.ha-item {
    padding: 10px;
    margin: 0 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px, 1px 1px 3px #efeded99;
}

.about-page{
    padding: 20px;
    display: flex;
}
.ap-left,.ap-right{
    width: 50%;
    padding: 10px;
}
.ap-left img{
    width: 100%;
}

@media (max-width:900px) {
    .ha-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-page{
        display: block;
    }
    .ap-left,.ap-right{
        width: 100%;
    }
    .ha-item {
        margin: 10px;
    }
}

@media (max-width:450px) {
    .ha-items {
        display: block;
    }

    .ha-title #heading h1 {
        font-size: 25px;
        margin: 0;
    }
}

/*----------awrapper------------*/
.awrapper {
    background-image: url("../../../public/images/awrapper.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #0074D9;
    padding: 10px;
}

.awrapper-items{
    width: 100%;
    display: flex;
    padding: 15px 10px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.awrapper-item{
    padding-bottom: 10px;
}

.awrapper img {
    margin-right: 30px;
    background-color: #0074D9;
    border-radius: 50%;
    padding: 15px;
}

/*----------awrapper------------*/
@media screen and (max-width: 850px) {
    .awrapper-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 350px) {
    .awrapper-items{
        display: block;
    }
}