/*--------head------------*/
.head {
    padding: 20px 0;
    color: #fff;
}

.logo h1 {
    font-size: 35px;
    font-weight: 900;
}

.head .icon {
    margin-left: 10px;
}

/*--------head------------*/
/*--------header------------*/
header {
    background-color: #0074D9;
    position: sticky;
    top: 0;
    z-index: 2;
}

header .nav {
    display: flex !important;
}

header li {
    margin-right: 40px;
}

header ul {
    padding: 25px 20px;
    margin: 0;
}

header ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

header ul li a:hover {
    color: #FFDC00;
}

.start {
    background-color: #FFDC00;
    padding: 20px 70px;
    color: #fff;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}

.toggle {
    display: none;
}
/* 
header > .flexSB{
    width: 100%;
    background-color: #0074D9;
    position: fixed;
    top: 0;
} */

/*--------header------------*/
@media screen and (max-width: 1000px) {

    header li {
        margin-right: 25px;
    }
}

@media screen and (max-width: 768px) {
    .start {
        clip-path: none;
        padding: 15px 50px;
    }

    header {
        margin: 0;
        background-color: #0074D9;
        position: relative;
    }

    header ul.flexSB {
        display: none;
    }

    header ul li {
        margin-bottom: 20px;
    }

    .toggle {
        display: block;
        background: none;
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 0;
        top: -28px;
    }

    .mobile-nav {
        position: absolute;
        top: 9vh;
        left: 0;
        width: 100%;
        background-color: #0074D9;
    }
}