.hero-slide {
    height: 80vh;
    position: relative;
}

.hs-text {
    width: 50%;
    padding: 10px;
    color: white;
    position: absolute;
    left: 25%;
    bottom: 20%;
    text-align: center;
}

.slick-arrow {
    font-size: 0px !important;
}

.slick-prev {
    position: absolute;
    left: 10px !important;
    z-index: 1;
}

.slick-next {
    position: absolute;
    right: 10px !important;
}

.slick-prev:before {
    font-size: 35px !important;
}

.slick-next:before {
    font-size: 35px !important;
}

.slick-dots li button:before {
    color: #0074D9 !important;
    font-size: 15px !important;
}

@media (max-width:650px) {
    .hero-slide {
        height: 40vh;
    }

    .hs-text{
        bottom: 10%;
    }

    .hs-text h1 {
        font-size: 25px;
    }

    .hs-text p{
        display: none;
    }

    .btn-primary {
        margin: 5px 0;
        padding: 10px;
    }
}